extends template

block body_content
  div.container
    div.row
      div.twelve.columns.title
        h1 Who are you?
      
    div.row.index-buttons
      div.six.columns
        a(href="/input", target="_blank").button.button-primary.right Voice Inputter
      
      div.six.columns
        a(href="/prisoner" target="_blank").button.button-primary.left Prisoner
      

    div.twelve.columns
      p 
        | Open up <strong>4 prisoner pages</strong> and <strong>1 voice inputter page</strong> before doing anything to set up the problem.
        br
        | (Opens in a new tab)