extends template

block body_content
  div.container
    div.row
      div.12.columns.title
        h1.prisonerTitle Prisoner ##{prisonerNumber}
        h2 Please wait until instructed to press the button.
        h2#message #{message}
        a(href="javascript:void(0)").button.button-primary#button Button

  script(src="/socket.io/socket.io.js")
  script(src="http://code.jquery.com/jquery-1.11.1.js")
  script(type="text/javascript").
    var socket = io('localhost:3000/prisoner');

    socket.on('message', function(msg){
      $("#message").text(msg);
    });

    $('#button').click(function() {
      socket.emit('button-press', socket.id);
    });