.columns {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.title {
  margin-top: 25%;
}

.index-buttons {
  margin-top: 75px;
  margin-bottom: 30px;
}

.button {
  width: 200px;
}

.shaded-box {
  background-color: #eee;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  min-height: 50px;
  text-align: center;
}

.input-instructions {
  text-align: left;
  margin-left: 150px; 
}

.tomato {
  color: tomato;
}